.header {
    background-color: #fa8389b7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid rgb(0, 0, 0);
}


.header__logo {
    object-fit: cover;
    height: 40px;
}

.header__icon {
    padding: 20px;

}